<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_mime.c>
  AddType image/webp .webp
  AddType text/css .css
  AddType application/javascript .js
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^frontend/(.*)$ /frontend/$1 [L]
</IfModule>
