.custom-header {
    background-color: #FCECE7;
    padding: 10px 20px;
    width: 100%;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #E43D12 !important;
}

.nav-link {
    font-size: 1.2rem;
    color: #000;
    margin: 0 15px;
}

.nav-link:hover {
    color: #E43D12;
}

.navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #E43D12;
}

.contact-btn {
    background-color: #E43D12;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: #B8320F;
    color: #FCECE7;
}

@media (max-width: 991px) {
    .d-lg-block {
        display: none !important;
    }

    .align-items-center {
        align-items: baseline !important;
    }
}

@media (max-width: 576px) {
    .carousel-section .carousel-item img {
        height: 50% !important;
    }

    .carousel-section .carousel-item {
        background: #FCECE7;
    }
}

.carousel-section {
    width: 100%;
    margin: 0 auto;
}

.carousel-section .carousel-item {
    position: relative;
}

.carousel-section .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
}

.carousel-caption-custom {
    position: absolute;
    left: 67px;
    top: 221px;
    background: rgba(253, 247, 232, 0.9);
    padding: 32px 6px 32px 64px;
    max-width: 640px;
}

.carousel-caption-custom h1 {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: #212121;
    text-align: left;
    text-decoration-skip-ink: none;
}

.custom-btn {
    background-color: #E43D12;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: #B8320F;
    color: #FCECE7;
}

.carousel-indicators button {
    background-color: #E43D12;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 3px;
}

.carousel-indicators .active {
    background-color: #B8320F;
}

.carousel-indicators [data-bs-target] {
    width: 11px;
    height: 11px;
}

@media (max-width: 991px) {

    .carousel-caption-custom {
        left: 20px;
        top: auto;
        bottom: 100px;
        max-width: 80%;
    }

    .carousel-caption-custom h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .custom-btn {
        margin: 10px auto 0;
    }

    .process-section {
        padding: 0 !important;
    }

    .process-title {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 576px) {
    .carousel-item {
        height: 400px;
    }

    .carousel-caption-custom {
        padding: 15px;
        bottom: 80px;
    }

    .carousel-caption-custom h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .footer-nav {
        padding-left: 25px !important;
    }

    .footer {
        padding: 20px 0px !important;
    }

    .faq-section {
        padding: 5px 10px !important;
    }

    .copyright {
        padding-top: 20px;
    }

    .company-logo {
        width: 125px !important;
    }
}



.hero-title,
.card-heading {
    color: #000000;
    font-family: 'Lora';
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}

.brand-title {
    color: #E43D12;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 1rem;
}

.brand-description {
    font-family: 'Roboto';
    font-weight: 400;
    color: #474747;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 1rem;
}

.process-list {
    list-style: none;
    padding: 0;
}

.process-list li {
    font-family: 'Roboto';
    font-weight: 400;
    color: #474747;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    position: relative;
}

.process-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #474747;
}

.showcase-image {
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.showcase-image img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .hero-title,
    .card-heading,
    .why-text-heading {
        font-size: 1.5rem !important;
        line-height: 35px;
    }
}

.process-section {
    color: #fff;
    padding: 80px 0;
}

.process-title,
.why-text-heading,
.faq-title {
    text-align: center;
    font-family: 'Lora';
    font-weight: 600;
    color: #000000;
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 48px;
}

.process-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.process-card {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.process-card:hover {
    transform: translateY(-10px);
}

.process-card h3 {
    color: #E43D12;
    font-family: 'Lora';
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
}

.process-card p {
    color: #474747;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.icon-design {
    text-align: left;
    padding: 15px 0;
}

.icon-deliver {
    text-align: left;
    padding: 15px 0;
}

.icon-purchase {
    text-align: left;
    padding: 15px 0;
}

@media (max-width: 768px) {
    .process-card {
        margin-bottom: 40px;
    }

    .process-title {
        font-size: 2rem;
        margin-bottom: 40px;
    }
}


.cards-row .card {
    height: 100%;
    position: relative;
    border-radius: 8px;
    background: white;
    border: none;
}

.cards-row .card::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: 8px;
    background: linear-gradient(155.21deg,
            #E43D12 10%,
            #FFFFFF 40%,
            #FFFFFF 60%,
            #EFB11D 90%);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    padding: 16px 16px 0;
}

.card-title,
.why-text-red {
    color: #E43D12;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
}

.card-text,
.lead {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #474747;
}

.contact-section {
    background-color: #fff;
    color: #000;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-section h2 {
    font-size: 1.2rem;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cards-row .row .col:nth-last-child(2),
.cards-row .row .col:last-child {
    flex: 0 0 50%;
}

.contact-section {
    flex: 1;
    background-color: #F9F8F6;
    padding: 16px;
    margin: 20px 10px 10px;
}

.contact-section h2 {
    max-width: 442px;
    padding: 15px 0;
}

@media (max-width: 768px) {
    .contact-section {
        width: 100%;
    }
}



.why-bg-light-pink {
    background-color: #fff1f2;
}

.why-card {
    border: none;
    background-color: transparent;
    transition: all 0.3s ease;
}

.why-card-img-top {
    /* height: 200px; */
    object-fit: cover;
    border-radius: 8px;
}

.why-carousel-controls,
.testimonial-carousel-controls {
    position: absolute;
    top: -70px;
    right: 15px;
    transform: translateY(0);
}

.why-carousel-control,
.testimonial-carousel-control {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff1f2;
    border: 1px solid #e5e7eb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.why-carousel-control-icon,
.testimonial-carousel-control-icon {
    color: #6b7280;
}

.why-carousel-indicators [data-bs-target],
.testimonial-carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d1d5db;
    border: none;
    margin: 0 5px;
}

.why-carousel-indicators .active,
.testimonial-carousel-indicators .active {
    background-color: #ef4444;
}

#signageCarousel .carousel-indicators,
#testimonialCarousel .carousel-indicators {
    bottom: -25px;
}

@media (max-width: 768px) {

    .why-carousel,
    .why-carousel-indicators,
    .why-carousel-controls,
    .testimonial-carousel-controls,
    #testimonialCarousel .carousel-indicators {
        display: none !important;
    }

    .testimonial-small-div {
        padding: 10px !important;
    }

    .process-card {
        padding: 0 20px !important;
    }

    .testimonial {
        padding: 50px 0 0 !important;
    }

    .footer-nav {
        gap: 15px !important;
    }

}

.testimonial-card {
    padding: 32px 16px 16px;
    background-color: #F9F8F6;
    box-shadow: 0px 4px 4px 0px #00000040;
    overflow: visible;
    position: relative;
    border: none;
}

.yellow-line {
    border-top: 2px solid #EFB11D;
    margin: 15px 0;
}

.client-info {
    display: flex;
    align-items: center;
}

.client-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-name {
    font-weight: 500;
    font-family: 'Lora';
    font-size: 18px;
    margin-left: 15px;
    line-height: 21.6px;
    color: #453232;
}

.client-role {
    font-size: 16px;
    color: #81807C;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
    padding-left: 13px;
}

.yellow-circle {
    position: absolute;
    top: -30px;
    left: 20px;
    background-color: #EFB11D;
    border-radius: 50%;
    padding: 15px;
    z-index: 1;
}

.comment-img {
    width: 24px;
    height: 21px;
}


section.footer {
    background-color: #FCECE7;
    color: #E43D12;
}

.footer-nav a {
    color: #E43D12;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #000;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-left: 0;
    margin: 0;
}

.footer {
    padding: 60px 0px;
    font-family: 'Roboto';
}

@media (min-width: 768px) {
    .footer-nav {
        flex-direction: row;
        align-items: center;
    }

}

#testimonialCarousel .carousel-item,
#signageCarousel .carousel-item {
    padding: 30px 10px;
}

.testimonial section {
    margin: 50px 0 !important;
    padding: 50px 0;
}

.testimonial {
    padding: 80px 0;
}

.testimonial-card-text {
    flex-grow: 1;
}

.why-card-body {
    height: 190px;
}


.testimonial-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.testimonial-card .card-body {
    flex-grow: 1;
}

.testimonial-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-card-text {
    flex-grow: 1;
}


.image-container {
    position: relative;
    display: inline-block;
    height: auto;
    overflow: hidden;
    padding: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    height: auto;
}

.text-title {
    font-family: 'Lora';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EFB11D;
}

.text-content {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FDFDFC;

}

.image-container:hover .text-content {
    max-height: 300px;
}

.col-lg-4 .image-container {
    min-height: 100%;
    min-width: 100%;
}

.row.g-4 .col-lg-8 .image-container {
    min-height: 100%;
    min-width: 100%;
}

.faq-section {
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item:not(:last-child) {
    /* border-bottom: 1px solid rgb(0 0 0 / 10%); */
    border: none;
}

.faq-question {
    width: 100%;
    /* padding: 20px 0; */
    background: none;
    /* border: none; */
    color: #212121;
    cursor: pointer;
    transition: color 0.3s ease;
    display: flex;
    justify-content: space-between;

    font-family: 'Lora';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 0.65px solid #00000080;
    padding: 24px 20px;
    border-radius: 12px;
    margin-bottom: 12px;

}

button.faq-question.active {
    border: none;
    padding: 0 20px;
}

.faq-item.active {
    border: 1.5px solid #E43D12;
    padding: 24px 0px;
    border-radius: 12px;
    margin: 0 0 12px;
}

.faq-icon {
    transition: transform 0.3s ease;
}

.faq-question.active .faq-icon {
    transform: rotate(180deg);
}

.faq-answer {
    display: none;
    padding: 24px 10px;
    color: #474747;

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.faq-answer.active {
    display: block;
}

.faq-answer p {
    margin-bottom: 15px;
}

.faq-answer ul {
    list-style: none;
    padding-left: 20px;
}

.faq-answer li {
    margin-bottom: 8px;
    position: relative;
}

.faq-answer li::before {
    content: "•";
    position: absolute;
    left: -15px;
    color: rgba(0, 0, 0);
}

@media (max-width: 768px) {
    .faq-title {
        font-size: 2rem;
    }

    .faq-question {
        font-size: 1rem;
        padding: 15px 20px;
    }

    .faq-answer {
        font-size: 0.9rem;
    }
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown .nav-link {
    transition: all 0.3s ease;
    cursor: pointer;
}

@media (max-width: 767px) {
    .custom-dropdown .nav-link::after {
        content: "▼";
        margin-left: 10px;
        font-size: 0.7rem;
        transition: transform 0.3s ease;
    }

    .custom-dropdown.active .nav-link::after {
        content: "▲";
        transform: rotate(180deg);
    }

    .custom-dropdown .dropdown-menu {
        display: none;
        background: #FCECE7;
        border: none;
        border-radius: 5px;
        padding: 5px 30px;
    }

    .custom-dropdown.active .dropdown-menu {
        display: block;
    }
}

@media (min-width: 768px) {
    .custom-dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: #ffffff;
        min-width: 200px;
        border-radius: 5px;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 1000;
    }

    .custom-dropdown:hover .dropdown-menu,
    .custom-dropdown .dropdown-menu:hover {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.custom-dropdown .dropdown-item {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.custom-dropdown .dropdown-item:hover {
    background: #FCECE7;
    border-radius: 5px;
}


.carousel-caption-custom {
    padding: 32px 64px 32px 64px;
}

@media (max-width: 576px) {
    .carousel-section .carousel-item img {
        margin-top: 10px;
    }

    .carousel-caption-custom {
        padding: 15px !important;
    }
}

.error-section {
    height: 700px;
    background: rgba(0, 0, 0, 1);
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTAvMTUvMTWekRqCAAAB4ElEQVR4nO3dsW3CQBiG4d8WFekzpM8IGZEtMkJGyAgZISNQpnSfASjpXeAiw4GQAHP3+b3SI1lG1uNDZ/vwcBiGAbhpnHsBjM0QMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCEzhMwQMkPIDCH7A3DBLUk4zvKnAAAAAElFTkSuQmCC'); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
}

.neon-404 {
    font-size: 8rem;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0ff,
        0 0 82px #0ff,
        0 0 92px #0ff,
        0 0 102px #0ff,
        0 0 151px #0ff;
    animation: flicker 1.5s infinite alternate;
}

.neon-text {
    font-size: 2rem;
    color: #ff1f8f;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ff1f8f,
        0 0 82px #ff1f8f,
        0 0 92px #ff1f8f,
        0 0 102px #ff1f8f,
        0 0 151px #ff1f8f;
    animation: flicker 2s infinite alternate;
}

.neon-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: #0ff;
    border: 2px solid #0ff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.neon-button:hover {
    background-color: #0ff;
    color: #000;
    box-shadow: 0 0 5px #0ff,
        0 0 25px #0ff,
        0 0 50px #0ff,
        0 0 100px #0ff;
}

.neon-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(3, 255, 255, 0.4),
            transparent);
    transition: all 0.5s;
}

.neon-button:hover::before {
    left: 100%;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0ff,
            0 0 82px #0ff,
            0 0 92px #0ff,
            0 0 102px #0ff,
            0 0 151px #0ff;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

@media (max-width: 768px) {
    .neon-404 {
        font-size: 6rem;
    }

    .neon-text {
        font-size: 1.5rem;
    }

    .neon-button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {
    .neon-404 {
        font-size: 4rem;
    }

    .neon-text {
        font-size: 1.2rem;
    }

    .neon-button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}


/* blogd */
.blog-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: scale(1.02);
}

.blog-card-img img {
    width: 100%;
    height: 235px;
    object-fit: cover;
}

.blog-card-body {
    padding: 15px;
}

.badge {
    background-color: #E43D12;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    padding: 6px 12px;
}

.time {
    font-size: 12px;
    color: #6c757d;
}

.blog-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #212121;
}

@media (max-width: 767px) {
    .blog-card-title {
        font-size: 16px;
    }

    .badge {
        font-size: 10px;
    }

    .time {
        font-size: 10px;
    }

}

.carousel-caption-custom h2 {
    font-family: 'Lora', serif;
}

a.custom-btn {
    background-color: #E43D12;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e43d12;
}


/* Floating Button Styles */
.call-button {
    position: fixed;
    right: 4%;
    top: 89%;
    background-color: #e43d12;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background 0.3s ease;
}

.call-button:hover {
    background-color: #218838;
}

/* Hide button on screens larger than 768px (Tablets & Desktops) */
@media screen and (min-width: 768px) {
    .call-button {
        display: none;
    }
}

.form-control {
    margin-bottom: 25px;
}

.btn-custom {
    background-color: #e63946;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.form-contact {
    border: solid 1px #3a232336;
    background: white;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

}

input.form-control,
textarea.form-control {
    background: #f8f9fa;
}

.form-control:focus,
.form-select:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #e43d12;
    outline: 0;
    box-shadow: none;
}